attrs
certifi
cffi
charset-normalizer
et_xmlfile
h11
idna
numpy
openpyxl
outcome
pandas
pycparser
pyodbc
PySocks
python-dateutil
python-dotenv
pytz
pywin32
requests
selenium
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto